<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <% include partials/head %>
    <!-- <link rel="stylesheet" href="/css/login.css"> -->

</head>
<body class="login">
    <div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5 tarjeta">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/imagenes/logok.png" alt="kinetics" width="150" class="text-center">
                    </div>

                    <h4 class="text-center titulo">
                        <span class="fa fa-sign-in"></span> Crear tu cuenta de ...
                    </h4>

                    <% if(message.length > 0){ %>
                        <div class="alert alert-danger">
                            <%= message %>
                        </div>
                    <% } %>

                    <form action="/signup" method="post">

                        <!-- <div class="form-group">
                            <input type="text" class="form-control ingresar" placeholder="Nombre completo" name="fullname">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control ingresar" placeholder="Nombre de usuario" name="username">
                        </div> -->

                        <div class="form-group">
                            <!-- <label for="email">Email</label> -->
                            <input type="email" name="email" class="form-control ingresar" placeholder="Correo electrónico">
                        </div>
                        <div class="form-group">
                            <!-- <label for="password">password</label> -->
                            <input type="password" name="password" class="form-control ingresar" placeholder="Contraseña">
                        </div>

                        <div class="row">

                            <div class="col-sm-6 col-6">
                                <a href="/login" class="btn btn-link enlace"><span>Ingresa a tu cuenta</span></a>
                            </div>

                            <div class="col-sm-6 col-6 text-right">
                                <input type="submit" class="btn btn-primary enlace" value="Crear cuenta">
                                <!-- <div class="btn btn-primary enlace"><span>Crear cuenta</span></div> -->
                            </div>

                        </div>
                    </form>

                    <!-- <hr> -->

                    <div class="text-center info">
                        <p class="enlace"><a href="/">Inicio</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
