
/*Card*/
.tarjeta{
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
}

/*Logo*/
.titulo{
    padding: 30px 30px;
}

/*inputs*/
.ingresar{
    border: none;
    /* border-bottom: 1px solid #1a73e8; */
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0;
}

input{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
}

/*Formulario*/
.form-group{
    margin-bottom: 3rem;
}

.info{
    padding-top: 40px;
}

.btn-ingresar{
    font-family: 'Montserrat', sans-serif;
}

/*Botón crear cuenta*/
.enlace{
    font-size: 13px;
    font-weight: bold;
}

.btn-ingresar{
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}


/*Media Queries tamaño de la tarjeta*/
@media (max-width: 800px){
    .col-sm-6{
        max-width: 100%;
    }
}

@media (max-width: 600px){
    .col-6{
        max-width: 50%;
    }

    .tarjeta{
        border: none;
        border-radius: none;
        box-shadow: none;
    }
}
